/* Responsividade Mobile */
@media screen and (max-width: 600px){
    body{
        width: 160vw;
    }
    .banner-titulo{
        font-size: 3.2rem;
    }
    .acomodacao-lista-comodidades {
        flex-direction: column;
    }
    .box-img img{
        position: absolute;
        top: 35%;
        right: 18%;
    }
    #prev{
        left: -15%;
    }
    #next{
        right: -15%;
    }
    #close{
        right: -10%;
        top: 30%;
    }

}
@media screen and (max-width: 992px){
    body{
        width: 150vw;
    }
    .acomodacao-lista-comodidades {
        flex-direction: column;
    }
    .box-img img{
        position: absolute;
        top: 35%;
        left: 34%;
    }
    #next {
        right: 3%;
        top: 45%;
    }
    #close {
        right: 2%;
        top: 30%;
    }
}